:root{
    /** Breakpoints */
    --sm: 540px;
    --md: 720px;
    --lg: 960px;
    --xl: 1140px;
    --xxl: 1320px;

    /** Colors  */
    --dark: #12121a;
    --light: #F6F1F1;
    --main: #19A7CE;
    --main-dark: #146C94;
    --main-darker: #0b3549;
}

*{
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

/** General */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 720px) {
.container {
    width: 750px;
}
}
@media (min-width: 960px) {
.container {
    width: 970px;
}
}
@media (min-width: 1320px) {
.container {
    width: 1170px;
}
}

/** Sections  */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*** Main Section */
#section-main{
    background-color: var(--main);
    padding: 100px 0;
    color: var(--dark);
}

#section-main h1{
    margin: 0;
    font-size: 7rem;
    text-align: center;
}

#background-text{
    position: absolute;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    opacity: 15%;
    user-select: none;
}

#section-main p{
    font-size: 1.5rem;
    font-family: 'Space Mono', monospace;
}

/*** Products section */
#section-products{
    padding: 70px 0;
    background-color: var(--dark);
    color: var(--light);
}

#section-products .section-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

#section-products .section-header h2{
    font-size: 2rem;

}

#products-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.product-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    border: solid 1px #FFFFFF;
    border-radius: 3px;
    text-decoration: none;
    color: var(--light);
}

.product-card:hover{
    box-shadow: rgba(255, 255, 255, 0.15) 5px 5px;
}

.product-card .title{
    font-size: 1.5rem;
}

/*** Posts Section */
#section-posts{
    padding: 70px 0;
    background-color: var(--light);
    color: var(--dark);
}

#section-posts h2{
    font-size: 2rem;
    padding-bottom: 40px;
}

#posts-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.posts-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(18, 18, 26, 0.25);
    border: solid 1px #12121a;
    border-radius: 3px;
    text-decoration: none;
    color: var(--dark);
}

.posts-card:hover{
    box-shadow: #12121ad8 5px 5px;
}

.posts-card .title{
    font-size: 1.5rem;
}